.titleImage {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-image: url("https://www.baemin.com/_next/static/images/main_02@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    animation: titleImageAnimation 2s;
}

.main1 {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
}

.main1 .recruitment {
    width: 173px;
    height: 226px;
    position: absolute;
    top: 0;
    right: 0;
}

.main1 .content {
    width: 1300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main1 .content>img {
    width: 450px;
    height: 300px;
    margin-top: 100px;
}

.main1 .download {
    display: flex;
    padding: 50px;
}

.main1 .download .store_download {
    margin-right: 220px;
}

.main1 .download .store_download span {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}

.main1 .download .store_download .download_flexbox>a:first-child {
    background: white;
    display: inline-block;
    border-radius: 80px;

}

.main1 .download .store_download .download_flexbox>a:first-child img {
    width: 200px;
    padding: 20px 40px;
}

.main1 .download .store_download .download_flexbox>a:last-child {
    background: white;
    display: inline-block;
    border-radius: 80px;
    margin-left: 20px;
    margin-right: 100px;
}

.main1 .download .store_download .download_flexbox>a:last-child img {
    width: 200px;
    padding: 20px 40px;
}


.main1 .download .store_download .download_flexbox {
    margin-top: 20px;

}

.main1 .download .qr_download {
    display: flex;
    flex-direction: column;
}

.main1 .download .qr_download span {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}

.main1 .download .qr_download img {
    margin-top: 20px;
    width: 200px;
}

@keyframes titleImageAnimation {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(1.0);
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {

    .titleImage {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    
    .main1 {
        height: 100vh;
        height:calc(var(--vh, 1vh) * 100);
    }

    .main1 .recruitment {
        width: 109px;
        height: 142px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .main1 .content {
        width: 80%;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .main1 .content>img {
        width: 70%;
        height: auto;
        margin-top: 25px;
    }

    .main1 .download {
        display: none;
    }

    .header .icons {
        display: none;
    }
}